<h3> Dear {{ student.firstName }}, Your info have been successfully updated in Sayhello. </h3>

<a href="http://localhost:8000/pdf-info/{{ student_id }}">Link to you Info</a> <br/>

<br/><br/>
Thanks!

