{% extends 'Admin/student/form_Layout.html.twig' %}
{% block subtitle %}
    <h2 class="page-header">Edit Student</h2>
{% endblock %}

 {# {% if student is defined and student %}
      <img src="{{ vich_uploader_asset(student, 'imageFile') }}" alt="{{ student.imageName }}" />
  {% endif %}
#}



