<!doctype html>
<html>
<head>
    <style type="text/css">
        html {
            background: url('images/blue.jpg') no-repeat center center fixed;
            background-size: cover;

            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }

        .title {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);

            font-family: Tahoma, Helvetica, Arial, sans-serif;
            text-align: center;
            color: rgb(255, 255, 255);
        }

        .title h1, .title h2 {
            font-weight: normal;
        }

        .title h1 {
            font-size: 42px;
        }

        .title h2 {
            font-size: 30px;
        }

        .content {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;

            background: rgb(60, 60, 60);
            color: rgb(255, 255, 255);
            font-family: Tahoma, Helvetica, Arial, sans-serif;
        }

        .inner {
            width: 80%;
            margin: 0 auto;
            padding-top: 45px;
            padding-bottom: 45px;
            line-height: 130%;
        }
    </style>
</head>

<body>
<div class="title">
    <h1>SayHello</h1>
    <h2>| By <span style="color:rosybrown; font-weight: bolder">Kecode</span> &#169<span style="font-size:20px">Copyright</span>  |</h2>
</div>

<div class="content">
    <div class="inner">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec sapien sit amet justo posuere convallis non in nisl. Donec posuere dignissim dui sed vestibulum. Fusce non massa turpis. Donec vitae facilisis ligula. Aenean id est sollicitudin, hendrerit purus id, laoreet neque. Sed hendrerit diam eu odio pulvinar viverra. In ac lacus diam. Aenean vitae odio mauris. Donec vitae nisl convallis, ultrices turpis id, consequat erat. In id malesuada risus. Quisque mollis augue sit amet massa volutpat, eu sollicitudin ligula elementum. Donec tincidunt varius mi, a posuere lorem. Pellentesque quis orci leo. Donec vel ligula quis ligula aliquet ultrices. Nulla in lacus sodales, tempor elit et, efficitur diam. Aliquam erat volutpat. Maecenas nec luctus risus. Aliquam interdum nec est non ultrices. Aenean vel eros nec neque porta blandit. Phasellus tempor lacus at posuere eleifend. Etiam libero nisl, tincidunt venenatis lectus ut, maximus consequat ligula. In hac habitasse platea dictumst. Curabitur suscipit quam ut nulla dapibus tincidunt. Nam a lorem sed nulla interdum aliquet. Nullam ut euismod sem. Aenean eget nisl pellentesque, efficitur risus et, aliquam libero.<br><br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue felis vel arcu convallis venenatis. Cras lobortis ut risus eu bibendum. Proin finibus, mauris ut interdum volutpat, velit massa ornare nibh, id porttitor metus dolor at mi. Cras in justo dui. Nullam eleifend, est non interdum luctus, massa enim pretium lorem, eget vestibulum orci orci ac nibh. Maecenas varius semper est vel efficitur. Proin vulputate erat vitae aliquam aliquet. Cras libero nunc, condimentum non vestibulum eu, commodo sit amet diam. Ut imperdiet venenatis mi, eu laoreet felis iaculis aliquam. Proin dignissim lacinia tortor, eu tincidunt eros efficitur sit amet. Maecenas at lorem facilisis, porttitor dui vel, pretium lectus. Donec interdum est ac sem placerat hendrerit. Sed urna purus, vestibulum in vestibulum ut, lobortis ac sem. Nam vitae elit faucibus, placerat ex ac, auctor tortor. Sed sit amet nibh lacinia, rutrum augue sit amet, finibus sapien. Fusce massa turpis, elementum vel lorem sit amet, ultricies molestie nunc. Etiam in molestie nulla. Sed non ante vel tellus varius tincidunt id quis dolor. Curabitur ultricies iaculis tortor vitae dictum. Duis quis mauris id augue malesuada egestas. Quisque volutpat metus vitae tempus aliquet.<br><br>

        Sed at viverra enim, non rhoncus dui. Nullam sed cursus nunc. Integer semper leo porttitor velit dignissim, quis porttitor turpis facilisis. In tellus arcu, eleifend vel nisl eget, ultrices pulvinar magna. Maecenas et lorem pretium, pretium sapien quis, porttitor ante. Aenean pellentesque leo ac tempus gravida. Nulla lacinia nisi faucibus nisl consequat consectetur. Sed efficitur interdum mi consequat pretium.
    </div>
</div>
</body>
</html>